.secao_principal {
    display: flex;
    width: 100%;
    height: 840px;
    justify-content: center;
    align-items: center;
    background-color: #2b1821;
    background-attachment: fixed;
}

.secao_txt {
    width: 50%;
    height: 587px;
    color: #ffffff;
    z-index: 1;
}

.secao_txt h1 {
    font-size: 80px;
    line-height: 80px;
}

.secao_txt p {
    font-size: 28px;
    line-height: 38px;
    margin-top: 40px;
    width: 450px;
}

.secao_image {
    width: 500px;
    display: flex;
    justify-content: center;
    height: 600px;
    position: relative;

}

.secao_video {
    width: 250px;
    height: 547px;
    position: absolute;
    border-radius: 27px;
    top: 10px;
    cursor: pointer;
    position: absolute;
    object-fit: inherit;
}

.phone_case {
    width: 364px;
    height: 587px;
    position: absolute;
    overflow: hidden;
}

.phone_background {
    position: absolute;
    width: 500px;
    height: 600px;
}

.secao_btn {
    margin: 40px 0;
}

.neon_btn a {
    color: black;
    text-decoration: none;
}

.neon_btn {
    display: inline-block;
    text-decoration: none;
    font-size: 34px;
    color: #8b225aff;
    border: 8px solid #8b225aff;
    padding: 16px 64px;
    border-radius: 16px;
    cursor: pointer;
    text-shadow: 0 0 8px rgba(175, 3, 124, 0.3), 0 0 29px #8b225aff;
    box-shadow: inset 0 0 32px #8b225aff, 0 0 32px #8b225aff;
    position: relative;
}

.neon_btn::before {
    pointer-events: none;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #8b225aff;
    left: 0;
    top: 120%;
    transform: perspective(54px) rotateX(40deg) scale(1, 0.35);
    filter: blur(24px);
    opacity: 0.7;
}

.neon_btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #8b225aff;
    box-shadow: 0 0 128px 32px #8b225aff;
    z-index: -1;
    opacity: 0;
    transition: opacity 100ms linear;
}

.neon_btn:hover::after,
.neon_btn:focus::after {
    opacity: 1;
}

.neon_btn:hover::before,
.neon_btn:focus::before {
    opacity: 1;
}

.neon_btn:hover,
.neon_btn:focus {
    color: #202631;
    text-shadow: none;
}


/* Followers.module.css */
@media (max-width: 1060px) {
    .secao_principal {
        display: flex;
        width: 100%;
        height: 740px;
        justify-content: center;
        align-items: center;
        background-color: #2b1821;
    }

    .secao_txt {
        width: 40%;
        height: 587px;
        color: #ffffff;
        z-index: 1;
    }

    .secao_txt h1 {
        font-size: 44px;
        line-height: 50px;
    }

    .secao_txt p {
        font-size: 26px;
        line-height: 28px;
        margin-top: 40px;
        width: 350px;
    }

    .secao_image {
        width: 400px;
        display: flex;
        justify-content: center;
        height: 600px;
        position: relative;

    }

    .secao_video {
        width: 200px;
        height: 488px;
        position: absolute;
        border-radius: 27px;
        top: 10px;
        cursor: pointer;
        position: absolute;
        object-fit: inherit;
    }

    .phone_case {
        width: 293px;
        height: 523px;
        position: absolute;
        overflow: hidden;
    }

    .phone_background {
        position: absolute;
        width: 410px;
        height: 555px;
    }
}

@media (max-width: 860px) {

    .secao_principal {
        display: flex;
        width: 100%;
        height: 740px;
        justify-content: space-between;
        align-items: center;
        background-color: #2b1821;
    }

    .secao_txt {
        width: 30%;
        height: 587px;
        color: #ffffff;
        z-index: 1;
        margin: 10px 10px 40px 10px;
        width: 50%;
    }

    .secao_txt h1 {
        font-size: 38px;
        line-height: 40px;
    }

    .secao_txt p {
        font-size: 24px;
        line-height: 28px;
        margin-top: 20px;
        width: 80%;
    }

    .secao_image {
        width: 400px;
        display: flex;
        justify-content: center;
        height: 600px;
        position: relative;

    }

    .secao_video {
        width: 170px;
        height: 400px;
        position: absolute;
        border-radius: 27px;
        top: 10px;
        cursor: pointer;
        position: absolute;
        object-fit: inherit;
    }

    .phone_case {
        width: 248px;
        height: 427px;
        position: absolute;
        overflow: hidden;
    }

    .phone_background {
        position: absolute;
        width: 315px;
        height: 430px;
    }

}

@media (max-width: 768px) {
    .secao_image {
        width: 400px;
        display: flex;
        justify-content: center;
        height: 600px;
        position: relative;
    }

    .phone_background {
        position: absolute;
        width: 315px;
        height: 430px;
    }
}

@media (max-width: 580px) {
    .secao_principal {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 1064px;
        background-color: #2b1821;
    }

    .secao_txt {
        width: 100%;
        height: 320px;
        margin: 40px 0;
        color: #ffffff;
        z-index: 1;
        display: block;
        flex-wrap: wrap;
    }

    .secao_txt h1 {
        font-size: 36px;
        line-height: 40px;
        width: 80%;
    }

    .secao_txt p {
        font-size: 22px;
        line-height: 24px;
        margin-top: 10px;
        width: 80%;
    }

    .secao_image {
        width: 400px;
        display: flex;
        justify-content: center;
        height: 600px;
        position: relative;

    }

    .secao_video {
        width: 177px;
        height: 400px;
        position: absolute;
        border-radius: 27px;
        top: 158px;
        cursor: pointer;
        position: absolute;
        object-fit: inherit;
    }

    .phone_case {
        width: 248px;
        height: 427px;
        position: absolute;
        overflow: hidden;
        top: 148px;
    }

    .phone_background {
        position: absolute;
        width: 315px;
        height: 430px;
        top: 128px;
    }

    .secao_btn {
        width: clamp(320px, 100%, 350px);
    }

    .neon_btn {
        width: clamp(300px, 100%, 200px);
    }
}

@media (max-width: 468px) {
    .secao_principal {
        height: 1200px;
        padding: 40px;
    }

    .secao_image {
        width: 360px;
        margin: 20px;
    }

    .secao_txt {
        width: 360px;
    }

    .secao_btn {
        width: clamp(300px, 100%, 340px);
    }

    .secao_btn a {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .neon_btn {
        width: clamp(300px, 100%, 340px);
        margin: 0 auto;
    }
}